@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 6%, 50%);
    --orange:rgb(255, 146, 113);
    --white: rgb(255, 255, 255);
    /*FONT SIZE*/
    --paragraph: 0.75rem; /*12px*/
}

/*************************************************
***************************************** FONTS */
h1{
    font-size: 2rem;
    padding: 0.7rem;
    color: var(--very-dark-grayish-blue);
}
.title{
    font-weight: 400;
    width: 100%;
    font-size: 0.8rem;
    color: var(--very-dark-grayish-blue);
}
.title:hover{
    color: var(--orange);
}
.answer{
    font-size: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: 400ms padding ease-in-out, 400ms opacity ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    min-height: 100vh;
    
}
body{
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--paragraph);
    color: var(--dark-grayish-blue);
    background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue) 100%);
    display: flex;
}
/*************************************************
***************************************** MAIN */
main{
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    min-height: 69.8vh;
    max-height: 100%;
    width: min(20.5rem, 95vw);
    background-color: var(--white);
    display: grid;
    grid-template-rows: 7rem auto;
    grid-template-columns: 1fr;
    border-radius: 1.5rem;
    box-shadow: 0 30px 20px rgba(7, 7, 7, 0.2);
}
/*************************************************
*************************************** PICTURE */
picture{
    width: 100%;
    height: auto;
    position: relative;
    grid-row: 1;
    grid-column: 1;
}
.decoration-box{
    position: absolute;
    display: none;
}
.top-part img{
    width: 15rem;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -7rem;
    margin: auto;
}
.bottom-part img{
    width: 15rem;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.8;
    margin: auto;
}
/*************************************************
*************************************** ARTICLE */
article{
    width: 85%;
    height: 100%;
    margin: 0.9rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.question{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(185, 184, 184, 0.5);
}
.question label{
    height: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}
label img{
    position: absolute;
    right: 0;
    top: 0.4rem;
}
/*************************************************
************************* onclick() REPLACEMENT */
input[type="checkbox"]{
    appearance: none;
}
input[type="checkbox"]:checked +label{
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--very-dark-grayish-blue);
}
input[type="checkbox"]:checked +label> .answer{
    font-size: var(--paragraph);
    font-weight: 400;
    padding: 0.5rem 0;
    opacity: 1;
    color: var(--light-grayish-blue);
}
input[type="checkbox"]:checked +label> img{
    transform: rotate(180deg);
    transition: 400ms transform ease-in;
}
/**************************************************
***************************************** FOOTER */
footer{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    font-size: 0.9em;
    padding: 0.4em 0;
    color: var(--white);
    background-color: var(--very-dark-grayish-blue);
}
footer a{
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    padding: 0.5em 0.4em;
    cursor: pointer;
    border-radius: 0.5em;
    transition: 300ms font-size ease-in-out;
}
footer a:hover{
    color: var(--orange);
}

/**************************************************
********************************** MEDIA QUERIES */
@media screen and (min-width: 48rem) {
    main{
        margin: auto;
        min-height: 32rem;
        max-height: 100%;
        width: min(57.5rem, 80vw);
        background-color: var(--white);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.9fr 1.1fr;
        position: relative;
    }
    .decoration-box{
        position: absolute;
        width: min(12rem,20%);
        display: flex;
        left: -5.6rem;
        top: 12.8rem;
        z-index: 2;
        animation: idle 2s infinite alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes idle {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(5px);
        }
    }
    .top-part{
        display: block;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }
    .bottom-part{
        display: block;
        overflow: hidden;
    }
    .top-part img{
        width: min(26rem, 100%);
        height: auto;
        left: -8rem;
        right: 0;
        top:0;
        bottom: 0;
    }
    .bottom-part img{
        /* width: 55rem; */
        width: min(50rem + 5vw, 55rem);
        left: -38rem;
        right: 0;
        top: -16rem;
    }
    article{
        width: 75%;
        margin: 4rem 0 1rem 0;
        align-items: flex-start;
    }
    h1{
        padding: 0;
        margin-bottom: 1rem;
    }
    .title{
        font-size: 1rem;
    }
    .question{
        padding: 1.2rem 0;
    }
    input[type="checkbox"]:checked +label> .answer{
        font-size: 0.9rem;
    }
    input[type="checkbox"]:checked +label{
        font-size: 1rem;
    }
}