/* Original layout color palette */
:root {
  --primary-cyan: hsl(179, 61%, 44%);
  --primary-cyan-light: hsl(179, 47%, 52%);
  --primary-yellow: hsl(71, 73%, 54%);
  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-blue: hsl(218, 22%, 67%);
  --neutral-white: hsl(0, 0%, 100%);
  --dark-gray: hsl(204, 43%, 20%);
  --dark-cyan: hsl(179, 61%, 24%);
  --light-yellow: hsl(71, 83%, 53%);
  --background: var(--neutral-gray);
  --article-bg: var(--neutral-white);
  --article-title: var(--primary-cyan);
  --article-sub-title: var(--primary-yellow);
  --article-p: var(--neutral-blue);
  --section-1-bg: var(--primary-cyan);
  --section-2-bg: var(--primary-cyan-light);
  --section-p: var(--neutral-white);
  --footer-hover: var(--primary-yellow);
  --icon: url("../images/moon.svg");
}

.light {
  --icon: url("../images/moon.svg");
  --background: var(--neutral-gray);
  --article-bg: var(--neutral-white);
  --article-title: var(--primary-cyan);
  --article-sub-title: var(--primary-yellow);
  --article-p: var(--neutral-blue);
  --section-1-bg: var(--primary-cyan);
  --section-2-bg: var(--primary-cyan-light);
  --section-p: var(--neutral-white);
  --footer-hover: var(--primary-yellow);
}

.dark {
  --icon: url("../images/sun.svg");
  --background: var(--dark-gray);
  --article-bg: var(--neutral-blue);
  --article-p: var(--neutral-white);
  --article-title: var(--dark-cyan);
  --article-sub-title: var(--light-yellow);
}

.anim_loading {
  -webkit-animation: loading_loop;
          animation: loading_loop;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.anim_success {
  -webkit-animation: scale_anim;
          animation: scale_anim;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes loading_loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading_loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scale_anim {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes scale_anim {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0);
  }
}
.show_error {
  transform: scale(100%) !important;
}

.hide_btn {
  display: none;
}

.show_btn {
  display: flex !important;
  transform: scale(100%);
}

.box-shadow {
  box-shadow: 1px 2px 4px hsl(220deg, 60%, 50%);
}

.drop-shadow {
  filter: drop-shadow(1px 2px 4px hsl(220deg, 60%, 50%));
}

.traditional-box-shadow {
  box-shadow: 0 12px 12px rgba(243, 170, 170, 0.3);
}

.layered-box-shadow {
  box-shadow: 0 1px 1px hsla(0deg, 0%, 0%, 0.075), 0 2px 2px hsla(0deg, 0%, 0%, 0.075), 0 4px 4px hsla(0deg, 0%, 0%, 0.075), 0 8px 8px hsla(0deg, 0%, 0%, 0.075), 0 16px 16px hsla(0deg, 0%, 0%, 0.075);
}

body {
  width: 100%;
  position: relative;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  background: var(--background);
  transition: 300ms color ease-in-out, 300ms background-color ease-in-out;
}
@media screen and (min-width: 48em) {
  body {
    display: grid;
    place-content: center;
  }
}
body > .switch_theme {
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 999;
  right: 0;
  left: 0;
  top: 2vh;
  margin-inline: auto;
  border-radius: 25px;
  content: var(--icon);
  cursor: pointer;
  transition: 300ms background-color ease-out;
}
@media screen and (min-width: 48em) {
  body > .switch_theme {
    top: 4vh;
  }
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
}
@media screen and (min-width: 48em) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 700;
}
@media screen and (min-width: 48em) {
  h2 {
    font-size: 1.3rem;
  }
}

p,
li {
  font-size: 0.825rem;
  font-weight: 400;
}
@media screen and (min-width: 48em) {
  p,
li {
    font-size: 0.9rem;
  }
}

p {
  line-height: 2;
}

footer {
  width: 100%;
  color: var(--article-p);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1.5em 0.4em;
  position: relative;
  bottom: 0;
  flex-wrap: wrap;
  font-size: 0.8rem;
}
@media screen and (min-width: 90em) {
  footer {
    position: absolute;
    padding-block: 0.8em;
    font-size: 1.1rem;
  }
}

footer a {
  color: var(--article-p);
  text-decoration: none;
  padding-inline: 0.5em;
}

footer a:hover {
  color: var(--footer-hover);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  width: 80%;
  position: relative;
  max-width: 19.44rem;
  padding-block: 4.5rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 48em) {
  main {
    grid-template-columns: 50% 50%;
    width: 90%;
    max-width: 45em;
  }
}
main > article {
  height: 16.7rem;
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem 0.25rem 0 0;
  gap: 1.1em;
  padding: 1.5em;
  background-color: var(--article-bg);
}
@media screen and (min-width: 48em) {
  main > article {
    height: 13.6em;
    grid-row: 1;
    grid-column: span 2;
    padding: 2.35em 2.9em;
  }
}
main > article > h1 {
  color: var(--article-title);
}
main > article > h2 {
  color: var(--article-sub-title);
  font-size: 1rem !important;
}
@media screen and (min-width: 48em) {
  main > article > h2 {
    padding-top: 0.2em;
    font-size: 1.1rem !important;
  }
}
main > article > p {
  color: var(--article-p);
}
main > .section-1 {
  height: 14.25rem;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  background-color: var(--section-1-bg);
  color: var(--section-p);
}
@media screen and (min-width: 48em) {
  main > .section-1 {
    grid-row: 2;
    height: 16.25em;
    border-radius: 0 0 0 0.25rem;
  }
}
main > .section-1 > p {
  font-size: 0.9em;
}
main > .section-1 > .price {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-block: 1.5em 0.25em;
  gap: 1em;
}
main > .section-1 > .price > p {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
}
main > .section-1 > .price > span {
  font-size: 0.9em;
  filter: opacity(70%);
}
main > .section-1 > button {
  padding-block: 0.8em;
  margin-top: 1.3em;
  color: var(--section-p);
  background-color: var(--primary-yellow);
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
  transition: 300ms background-color ease-in-out;
}
main > .section-1 > button:hover {
  background-color: hsl(71deg, 73%, 44%);
}
main > .section-2 {
  height: 14.18rem;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  padding: 1.5em;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: var(--section-2-bg);
  color: var(--section-p);
}
@media screen and (min-width: 48em) {
  main > .section-2 {
    grid-row: 2;
    height: 16.25em;
    border-radius: 0 0 0.25rem 0;
  }
}
main > .section-2 > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  filter: opacity(80%);
}/*# sourceMappingURL=style.css.map */