:root{
--black: rgba(0, 0, 0, 0.80);
--white: rgba(255, 255, 255, 0.90);
--grey: rgb(43, 42, 42);
--dark-grey: rgba(20, 20, 20, 0.90);
--red:rgba(201, 24, 92, 0.5);
--light-blue:rgb(106, 190, 205,0.95);
--green: rgb(170, 215, 66,0.95);
--orange:rgb(241, 182, 4,0.95);
--dark-orange: rgb(245, 137, 36,0.95);

}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto mono';
    position: relative;
    width: 100%;
    height: 100%;
    margin:0;
    font-weight: 600;
    background-color: var(--grey);
    font-size: 0.8em;
}
.nav{
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 1.2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav h2{
    color: var(--white);
    margin: 0%;
    font-size: 1.5em;
}

.container{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.content{
    height: 18%;
    width: 100%;
    position: relative;
    box-shadow: 0.1rem 0.1rem 0.3rem;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: var(--dark-grey);
    transition: 200ms box-shadow ease-in-out;
}
.content:hover{
    box-shadow: 0.25rem 0.25rem 0.3rem;
}
.content .element-counter{
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--grey);
}
.content h3{
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#newbie            { color: var(--light-blue);  }
#newbie span       { color: var(--light-blue);  }
#junior            { color: var(--green);       }
#junior span       { color: var(--green);       }
#intermediate      { color: var(--orange);      }
#intermediate span { color: var(--orange);      }
#advanced          { color: var(--dark-orange); }
#advanced span     { color: var(--dark-orange); }

.challenge-container{
    width: 0%;
    height: auto;
    position: relative;
    margin:auto;
    top: 15%;
    bottom: 10%;
    display: flex;
    gap: 1.25em;
    flex-direction: column;
    font-size: 0em;
}
.challenge{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.8em;
    border-radius: 10px;
    gap: 0.8em;
    background-color: var(--grey);
    color: var(--white);
}
.challenge .challenge-name{
    font-size: 0.9em;
    padding-top: 0.3em;
    font-weight: 700;
    margin: 0;
}
.challenge .languages{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5em;
    margin: 0;
}
.challenge-container .languages p{
    font-size: 0.7em;
    margin: 0;
}
.challenge-container .languages p:first-child {  color: rgb(245, 70, 70);   }
.challenge-container .languages p:nth-child(2){  color: rgb(149, 193, 235); }
.challenge-container .languages p:nth-child(3){  color: rgb(246, 250, 0);   }


/*
#########################
#######   FOOTER  #######
#########################
*/

.footer{
    font-size: 0.9em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.5em;
    gap: 0.4em;
    color: var(--white);
    background-color:var(--dark-grey);
}
.footer a{
    color: var(--white);
    text-decoration: none;
    padding: .5em;
    border-radius: 10px;
    background-color: var(--red);
}

/*
#########################
#####   ANIMATION   #####
#########################
*/
.animation-out{
    animation: fadeOutLeft;
    animation-duration: 500ms;
}
.nav-animation-out{
    animation: fadeOutUp;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}
.nav-animation-in{
    animation: fadeInDown;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
}
.animation-in{
    animation: fadeInRight;
    animation-duration: 500ms;
}





/*
########################
##### MEDIA QUERYS #####
########################
*/

@media(min-width: 768px) {
    body{
        font-size: 1.2em;
    }
}
@media(min-width: 1280px) {
    .title-container{
        flex-direction: row;  
    }
    .container{
        width: 60%;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .content{
        width: 35%;
        height: 30%;
    }
}