:root{
--black: rgba(0, 0, 0, 0.80);
--white: rgba(255, 255, 255, 0.90);
--grey: rgba(80, 79, 79, 0.95);
--light-grey: rgba(68, 68, 68, 0.2);
--red:rgba(201, 24, 92, 0.5);
--light-blue:rgb(106, 190, 205,0.95);
--green: rgb(170, 215, 66,0.95);
--orange:rgb(241, 182, 4,0.95);
--dark-orange: rgb(245, 137, 36,0.95);
--background: rgb(34, 39, 43);
}

*{
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-shadow: .15ch .15ch .15ch var(--black);
}
html{
    height: 100%;
}
body {
    font-family: 'Roboto mono';
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    font-size: 1em;
}
/*======================================================
======================== NAVBAR ========================
========================================================*/
.nav{
    width: 100%;
    position: relative;
    padding: 1.5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.nav h2{
    color: var(--white);
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.25ch;
}
/*======================================================
================== TWO PANEL LAYOUT ====================
========================================================*/
.two-panel-layout{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    text-align: center;
}
.card-style{
    position: relative;
    display: grid;
    font-weight: 700;
    letter-spacing: 0.25ch;
    border:0em solid var(--grey);
    cursor: pointer;
}
.card-hover{
    position: relative;
    display: grid;
    font-weight: 700;
    letter-spacing: 0.25ch;
    border:0em solid var(--grey);
    cursor: pointer;
}
.card-style::before{
    width: 0%;
    height: 100%;
    position: absolute;
    bottom:-0.1em;
    left: 0;
    content: "";
    border: 0em solid;
    border-bottom-width: 0.2em;
}
.card-hover::before{
    width: 0%;
    height: 100%;
    position: absolute;
    bottom:-0.1em;
    left: 0;
    content: "";
    border: 0em solid;
    border-bottom-width: 0.2em;
    transition: 250ms width ease-in-out 200ms;
}
.card-hover:hover::before{
    width: 100%;
    background-color: var(--light-grey);
}
.fixed-hover-state{
    width: 100%;
    background-color: var(--light-grey);
}
.card-style .card-title{
    width: 100%;
    height: fit-content;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5ch 2ch;
}
.challenge-counter{
    position: absolute;
    right: 0;
    top: 0;
    letter-spacing: 0ch;
    width: 1.8em;
    height: 1.8em;
    display:grid;
    place-content: center;
}
.panel-1{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.panel-1 .newbie{
    width: 100%;
    height: 100%;
    color: var(--light-blue);
    transition: 250ms width ease-in;
    border-top-width: 0.1em;

}
.panel-1 .junior{
    width: 100%;
    height: 100%;
    color: var(--green);
    border-top-width: 0.1em;

}
.panel-2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.panel-2 .intermediate{
    width:100%;
    height: 100%;
    color: var(--orange);
    border-top-width: 0.1em;
}

.panel-2 .advanced{
    width:100%;
    height: 100%;
    color: var(--dark-orange);
    border-top-width: 0.1em;
    border-bottom-width: 0.1em;

}
/*======================================================
================== CHALLENGE CONTAINER =================
========================================================*/
.challenge-container{
    width: 0%;
    height: 100%;
    top: 10%;
    position: relative;
    margin:auto;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    font-size: 0em;
    cursor: pointer;
}
.challenge{
    width: 90%;
    height: 15%;
    position: relative;
    border-radius: 0.25em;
    background-color: var(--background);
    color: var(--white);
    box-shadow: 0.1em 0.2em var(--black);
    transition: 300ms box-shadow ease-in-out;
}
.challenge:hover{
    box-shadow: 0.2em 0.4em var(--black);
}
.challenge .challenge-name{
    position: absolute;
    width: fit-content;
    height: auto;
    top: 1.5ch;
    left:  2ch;
    right: 2ch;
    text-align: start;
    font-size: 0.8em;
    font-weight: 700;
}
.challenge .languages{
    position: absolute;
    bottom: 1.5ch;
    right: 2ch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
    font-size: 0.7em;
}
.challenge-container .languages p{
    position: relative;
    width: fit-content;
    height: fit-content;
    
}
.challenge-container .languages p:first-child {  color: rgb(245, 70, 70);   }
.challenge-container .languages p:nth-child(2){  color: rgb(149, 193, 235); }
.challenge-container .languages p:nth-child(3){  color: rgb(246, 250, 0);   }

/*
#########################
#######   FOOTER  #######
#########################
*/

.footer{
    font-size: 0.7em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 0.5em;
    color: var(--white);
    background-color:transparent;
}
.footer a{
    color: var(--white);
    text-decoration: none;
    padding: .5em;
    border-radius: 10px;
    background-color: var(--red);
}

/*
##########################
#####   ANIMATIONS   #####
##########################
*/

.nav-animation-out{
    animation: fadeOutUp;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

.animation-out{
    animation: fadeOutDown;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
}

/*
#########################
#######   ICONS   #######
#########################
*/



/*
########################
##### MEDIA QUERYS #####
########################
*/

@media screen and (min-width:768px) {
    body{
        font-size: 1.2em;
    }
    .two-panel-layout{
        width: 90%;
    }
    .challenge .challenge-name{
        font-size: 0.9em;
    }
    .challenge .languages{
        font-size: 0.8em;
    }
}
@media screen and (min-width:900px) {
    body{
        font-size: 1.3em;
    }
    .challenge .challenge-name{
        font-size: 1em;
    }
    .challenge .languages{
        font-size: 0.9em;
    }
}
@media screen and (min-width:1024px),(orientation: landscape) {
    .two-panel-layout{
        flex-direction:column;
    }
    .panel-1{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .panel-1 .newbie{
        width: 100%;
        height: 100%;
        border-top-width: 0em;
    }
    .panel-1 .junior{
        width: 100%;
        height: 100%;
        color: var(--green);
        border-top-width: 0em;
        border-left-width: 0.1em;
    }
    .panel-2{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .panel-2 .intermediate{
        width:100%;
        height: 100%;
        color: var(--orange);
        border-top-width: 0.1em;

    }
    .panel-2 .advanced{
        width:100%;
        height: 100%;
        color: var(--dark-orange);
        border-top-width: 0.1em;
        border-bottom-width: 0em;
        border-left-width: 0.1em;
    
    }
}
@media screen and (orientation: landscape) { 
    @media screen and (max-height:600px) {
        body{
            font-size: 0.9em;
        }
        .challenge-container{
            top: 15%;
        }
        .challenge{
            height: 20%;
        }
        .challenge .challenge-name{
            top: 1ch;
            left:  1.5ch;
            right: 1.5ch;
        }
        .challenge .languages{
            bottom: 1ch;
            right: 1.5ch;
            gap: 0.5em;
            font-size: 0.7em;
        }
    }
    @media screen and (max-height:375px) {
        .challenge-container{
            top: 20%;
        }
        .challenge{
            height: 20%;
        }
    }
    @media screen and (max-height:320px) {
        .challenge-container{
            top: 25%;
        }
        .challenge{
            height: 25%;
        }
    }
}