:root{
--black: rgba(0, 0, 0, 0.90);
--white: rgba(255, 255, 255, 0.85);
--grey: rgb(50, 50, 50);
--greySemiTr: rgba(50, 50, 50, 0.90);
--red:rgba(80, 0, 28, 0.80);
}
html{
    height: 100%;
    font-family: 'Roboto mono';
}
body {
    background: linear-gradient(-45deg ,var(--black) ,var(--white) );
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}   
@keyframes gradient {

    0% {    background-position: 0% 50%;    }
    50% {   background-position: 100% 50%;  }
    100% {  background-position: 0% 50%;    }

}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows),1fr);
    position: relative;
    z-index: 1;
}
.cell{
    position: relative;
    background-color: var(--red);
    border-radius: 0.3rem;
}

.container .nav{
    grid-column-start: 1;
    grid-column-end: var(--columnNav);
}
.nav{
    width: 100%;
    background-color: var(--black);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
}
.nav h2{
    color: var(--white);
    padding: 1rem;
    padding-left: 1.5rem;
}

.container .main-card{
    width:auto;
    height: auto;
    grid-row-start: 4;
    grid-row-end: var(--endRow);
    grid-column-start: var(--startCol);
    grid-column-end: var(--endCol);
    border-radius: 1rem;
    margin: 1px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
}

.content{
    margin: 0.1rem;
    border-radius: 1rem;
    background-color: var(--red);
    color: var(--white);

}
#newbie{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;

}
#junior{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 7;

}

#intermediate{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 12;

}
#advanced{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 12;

}
.main-card h4{
    color: var(--white);
    font-size: 1.5rem;
}

