@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light_Grey: hsl(217, 12%, 63%);
    --Medium_Grey: hsl(216, 12%, 54%);
    --Dark_Blue: hsl(213, 19%, 18%);
    --Very_Dark_Blue: hsl(216, 12%, 8%);
    --Dark_Blue_Tr: rgba(38, 56, 78, 0.5);
    --Medium_Grey_Tr1:hsla(216, 12%, 54%, 0.08);
    --Medium_Grey_Tr2:hsla(216, 12%, 54%, 0.15);
    --Orange_Tr: hsla(25, 97%, 53%, 0.80);
}
body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding:0%;
    top: 0%;
    bottom: 0%;
	background-color:var(--Very_Dark_Blue);
    font-family: 'Overpass', sans-serif;
}
.main-card{
    display: flex;
    width: 40vh;
    height:fit-content;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    margin: auto;
    border-radius: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    bottom:1.9em;
    left: 0;
    right: 0;
    background-color: var(--Dark_Blue_Tr);
    z-index: 1;
}
.main-card::before {
    background: radial-gradient(
      1000px circle at 20vh -70px, 
      var(--Medium_Grey_Tr2),
      transparent 25%);
    content: "";
    border-radius: 30px;
    height: 100%;
    left: 0%;
    width: 100%;
    top: 0%;
    position: absolute;
    z-index: 2;
}
.icon-container{
    background-color: var(--Medium_Grey_Tr1);
    border-radius: 50%;
    display:flex;
    padding: 1rem;
    z-index: 3;
    margin-bottom: 1.5rem;
}
.icon-container svg{
    width: 1rem;
    height: 1rem;
}
.card-text{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.3rem;
    z-index: 3;
}
.card-text .title {
    color: var(--White);
    font-size:1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0%;
    margin-bottom: 1rem;
}
.card-text .paragraph{
    color: var(--Light_Grey);
    font-size: 1rem;
    font-weight: 400;
    margin: 0rem;
}
.rating-box{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin: auto;
    margin-top: 1.8rem;
}
.rating-element{
    height: 1.2rem;
    width: 1.2rem;
    padding: 1.2rem;
    text-align: center;
    background-color: var(--Medium_Grey_Tr1);
    color: var(--Light_Grey);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.rating-element:hover{
    background-color: var(--Orange);
    color: var(--White);
    transition: 0.5s;
}
.rating-element.active{
    background-color: var(--Medium_Grey);
    color: var(--White);
    transition: 0.5s;
}
input[type=submit]{
    width: 100%;
    margin: auto;
    margin-top: 1.8rem;
    margin-bottom: 0.1rem;
    background-color: var(--Orange);
    padding: 0.9rem;
    color: var(--White);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border-radius: 25px;
    border-width: 0px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: var(--White);
    color: var(--Orange);
    transition: 0.5s;
}
.footer{
    font-size: 0.9rem;
    color: var(--White);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.5rem;
}
.footer a{
 color: var(--Orange);
 padding: 0 0.4rem;
 text-decoration: none;
}
@media (max-width: 375px) {
    /*Adjust for mobile phone*/
    .main-card {
        width: 80%;
        padding: 1.2rem;
        border-radius: 15px;
    }
    .main-card::before {
        border-radius: 15px;
    }
    .icon-container{
        padding: 0.8rem;
    }
    .icon-container svg{
        width: 1rem;
        height: 1rem;
    }
    .card-text .title {
        font-size:1.4rem;
    }
    .card-text .paragraph{
        font-size: 0.8rem;
    }
    .rating-element{
        height: 1rem;
        width: 1rem;
        padding: 1rem;
    }
    input[type=submit]{
        padding: 0.9rem;
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
    }
    .footer{
        font-size: 0.8rem;
        padding:0.5rem 0;
    }
}