@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 95%);
    --Light_Grey: hsl(217, 12%, 80%);
    --Medium_Grey: hsl(216, 12%, 54%);
    --Dark_Blue: hsl(213, 19%, 18%);
    --Very_Dark_Blue: hsl(216, 12%, 8%);
    --Dark_Blue_Tr: rgba(38, 56, 78, 0.35);
    --Medium_Grey_Tr1:hsla(216, 12%, 54%, 0.08);
    --Medium_Grey_Tr2:hsla(216, 12%, 54%, 0.15);
    --Orange_Tr: hsla(25, 97%, 53%, 0.80);
}
/******************************
 ********************* NAVBAR *
 ****************** MAIN CARD *
 ***************** RATING BOX *
 ********************* BUTTON *
 ***** "THANK YOU" PAGE STYLE *
 ***************** ANIMATIONS *
 *************** MEDIA QUERYS *
 ******************************/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
	background-color:var(--Very_Dark_Blue);
    font-family: 'Overpass', sans-serif;
}

/******************************
 ********************* NAVBAR *
 ******************************/
/* .nav{
    width: 98%;
    position: relative;
    padding: 1.2em 0em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav span{
    color: var(--Orange);
    cursor: pointer;
    font-size: 1.7rem;
    background-color: var(--Medium_Grey_Tr2);
    border-radius: 50%;
    padding: 1rem;
    transition: 250ms padding ease-in-out;
}
.nav span:hover{
    padding: 1.25rem;
}
 .nav .message{
    position: absolute;
    font-size: 0rem;
    right:4em;
    background-color: transparent;
} */
/******************************
 ****************** MAIN CARD *
 ******************************/
.main-card{
    display: flex;
    width: 40vh;
    height:fit-content;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    margin: auto;
    border-radius: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: var(--Dark_Blue_Tr);
}
.main-card::before {
    background: radial-gradient(
      1000px circle at 20vh -70px, 
      var(--Medium_Grey_Tr2),
      transparent 25%);
    content: "";
    border-radius: 30px;
    height: 100%;
    left: 0%;
    width: 100%;
    top: 0%;
    position: absolute;
}
.icon-container{
    background-color: var(--Medium_Grey_Tr1);
    border-radius: 50%;
    display:flex;
    padding: 1rem;
    margin-bottom: 1.5rem;
    opacity: 1;
}
.icon-container svg{
    width: 1rem;
    height: 1rem;
}
.text-card{
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    opacity: 1;
}
.text-card .title {
    color: var(--White);
    font-size:1.7rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}
.text-card .paragraph{
    color: var(--Light_Grey);
    line-height: 1.3rem;
    font-size: 0.9rem;
}
/******************************
 ***************** RATING BOX *
 ******************************/
.rating-box{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin: auto;
    margin-top: 1.8rem;
    opacity: 1;
}
.rating-element{
    height: 1.2rem;
    width: 1.2rem;
    padding: 1.2rem;
    text-align: center;
    background-color: var(--Medium_Grey_Tr1);
    color: var(--Light_Grey);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.rating-element:hover{
    background-color: var(--Orange);
    color: var(--White);
    transition: 0.5s;
}
.rating-element.active{
    background-color: var(--Medium_Grey);
    color: var(--White);
    transition: 0.5s;
}
/******************************
 ********************* BUTTON *
 ******************************/
input[type=button]{
    width: 100%;
    margin: auto 0.3rem;
    margin-top: 1.8rem;
    background-color: var(--Orange);
    padding: 0.9rem;
    color: var(--White);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border-radius: 25px;
    border-width: 0px;
    cursor: pointer;
    transition: 1s;
    opacity: 1;
}
input[type=button]:hover{
    background-color: var(--White);
    color: var(--Orange);
    transition: 0.5s;
}

/******************************
 ***** "THANK YOU" PAGE STYLE *
 ******************************/

.thanks-card{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.thanks-card svg{
    padding-top: 1rem;
}
.rating-text-box{
    width: fit-content;
    height: fit-content;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Orange);
    background-color: var(--Medium_Grey_Tr1);
}
.rating-text{
    margin: 0%;
    opacity: 80%;
}
.center{
    width: 100%;
    text-align: center;
}
.rating-text.spacing{
    padding: 0ch 0.3ch;
}
/******************************
 ***************** ANIMATIONS *
 ******************************/
.animation-out{
    animation: zoomOut;
    animation-duration: 500ms;
    transition: opacity 500ms;
    opacity: 0;
    animation-timing-function: ease-in-out;
}
.animation-in{
    animation: zoomIn;
    animation-duration: 500ms;
    transition: opacity 500ms;
    opacity: 1;
    animation-timing-function: ease-in-out;
}
.animation-in-svg{
    animation: jackInTheBox;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
}
.animation-page-in{
    animation: fadeInUp;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}
.animation-page-out{
    animation: fadeOutDown;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}
.nav-animation-out{
    animation: fadeOutUp;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}
.err-no-input{
    animation-name: bounce;
    animation-duration: 500ms;
}
@keyframes bounce {
    0% {
      transform: translateX(0rem);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(0.3rem);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-0.3rem);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(0.2rem);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-0.2rem);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(0.1rem);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-0.1rem);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0rem);
      timing-function: ease-in;
    }
  }
/******************************
 ********************* FOOTER *
 ******************************/
.footer{
    font-size: 1rem;
    color: var(--White);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8em;
}
.footer a{
 color: var(--Orange);
 padding: 0 0.3rem;
 opacity: 90%;
 text-decoration: none;
}

/******************************
 *************** MEDIA QUERYS *
 ******************************/

@media screen and (max-width:475px) {
    .nav{
        width: 98%;
        padding: 0em;
        padding-top: 0.5em;
    }
    .nav span{
        font-size: 1.5rem;
        padding: 1rem;
    }
    .main-card{
        width: 70%;
        padding: 2rem;
    }
    .icon-container{
        padding:0.8rem;
        margin-bottom: 1.2rem;
    }
    .text-card .title {
        font-size:1.5rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
    }
    .text-card .paragraph{
        line-height: 1.2rem;
        font-size: 0.9rem;
    }
    .rating-box{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin: auto;
        margin-top: 1.5rem;
    }
    .rating-element{
        height: 0.9rem;
        width: 0.9rem;
        padding: 0.9rem;
        font-size: 0.8em;
        font-weight: 600;
    }
    input[type=button]{
        margin-bottom: 0rem;
        padding: 0.9rem;
        font-size: 0.9rem;
    }
    .footer{
        font-size: 0.8rem;
        margin-bottom: 0.8em;
        flex-direction: row;
        flex-wrap: wrap;
    }
}