@use "../abstracts/" as *;

html {
   box-sizing: border-box;
   height: 100%;
   font-size: 100%; //ACCESSIBILITY purpose
   margin: 0;
   padding: 0;
   font-family: "Manrope", sans-serif;
}
body {
   width: 100%;
   min-height: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   font-size: 0.81rem; /*13px*/
   background-color: var(--background);
   color: var(--text);
   transition: 500ms color ease-in-out, 500ms background-color ease-in-out;

   & > .switch_theme {
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      margin-inline: auto;
      left: 0;
      right: 0;
      top: calc(1em + 2vh);
      content: var(--icon);
      cursor: pointer;
      transition: 300ms transform ease-out;
   }
   & > .switch_theme:hover {
      transform: scale(110%);
   }
}

*,
*::after,
*::before {
   box-sizing: inherit;
}
footer {
   width: 100%;
   color: var(--lighter_text);
   display: flex;
   align-items: center;
   justify-content: center;
   padding-block: 1em;
   letter-spacing: 0.2ch;
   position: absolute;
   bottom: 0;
   flex-wrap: wrap;
}
