@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root{
    --red: rgb(234, 83, 83);
    --cyan: rgb(69, 211, 211);
    --orange: rgb(252, 175, 74);
    --blue: rgb(84, 158, 242);
    --very-dark-blue: rgb(76, 78, 97);
    --grayish-blue: rgb(163, 165, 174);
    --very-light-gray: rgb(250, 250, 250);
    /*FONT SIZE*/
    --paragraph: 0.9375rem; /*15px*/
}
/*************************************************
***************************************** HAS() */
:root:has(#light:checked){
    --background:var(--very-light-gray);
    --card-background:var(--very-light-gray);
    --title-color:var(--very-dark-blue);
    --paragraph-color:var(--grayish-blue);
    --opposite-color:var(--very-dark-blue);
    --shadow-effect:0 10px 25px var(--grayish-blue);
    --border-effect: 0 solid;
}
:root:has(#dark:checked){
    --background:var(--very-dark-blue);
    --card-background:var(--very-dark-blue);
    --title-color:var(--very-light-gray);
    --paragraph-color:var(--grayish-blue);
    --opposite-color:var(--very-light-gray);
    --shadow-effect: 5px 5px 3px;
    --border-effect: 0.3rem solid;
}

*,
*::after,
*::before,
    html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*************************************************
************************************** FONTS ****/
p{
    font-size: 0.8em;
    line-height: 1.6;
    font-weight: 400;
    color: var(--paragraph-color);
}
h1{
    font-weight: 200;
    text-align: center;
}
h2{
    font-size: 1.2em;
    color: var(--title-color);
}
.bold{
    font-weight: 600;
}
.center{
    text-align: center;
}

html{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
body{
    max-width: 100vw;
    height: auto;
    background-color: var(--background);
    color: var(--title-color);
    display: flex;
    flex-direction: column;
}
/*************************************************
***************************** THEME SWITCHER ****/
.theme-switcher{
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    margin: min(2rem, 2vw);
    /*min() is amazing! if the 2vw(2% of the viewport orizontally) is less than 2rem,
    it use 2vw, otherwise use 2rem as margin!*/
}
fieldset{
    width: fit-content;
    height: fit-content;
    display: flex;
    border: none;
    padding: 0.2rem;
    background-color: var(--opposite-color);
}
input[type="radio"]{
    width: 2rem;
    height: 2rem;
    appearance: none;
    background-color: var(--opposite-color);
    cursor: pointer;
}
input[type="radio"]:checked{
    background-color: var(--background);
}
input[type="radio"]#light:checked{
    animation: slideInRight;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;  
}
input[type="radio"]#dark:checked{
    animation: slideInLeft;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
}

/*************************************************
**************************** VISUALLY HIDDEN ****/
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}
main{
    width: 85vw;
    height: auto;
    margin: auto;
    padding: 20% 0;
    display: grid;
    gap: 1.5em;
}
article {
    display: flex;
    flex-direction: column;
}
article p{
    width: 100%;
    margin: 1em 0;
    font-size: var(--paragraph);
}

/*************************************************
********************************* CARD STYLE ****/
section{
    width: 100%;
    height: 15rem;
    position: relative;
    padding: 1.2em;
    background-color: var(--background);
    box-shadow: var(--shadow-effect);/*SHADOW IN DARK MODE?*/
    border-radius: 10px;
    border: var(--border-effect);
    border-top-width: 0.3rem;
}
#section-1{
    color: var(--cyan);
}
#section-1::after{
    width: auto;
    height: auto;
    content: url(../images/icon-supervisor.svg);
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background-color: transparent;
}
#section-2{
    color:var(--red);
}
#section-2::after{
    width: auto;
    height: auto;
    content: url(../images/icon-team-builder.svg);
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background-color: transparent;
}
#section-3{
    color:var(--orange);
}
#section-3::after{
    width: auto;
    height: auto;
    content: url(../images/icon-karma.svg);
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background-color: transparent;
}
#section-4{
    color:var(--blue);
}
#section-4::after{
    width: auto;
    height: auto;
    content: url(../images/icon-calculator.svg);
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background-color: transparent;
}

/**************************************************
***************************************** FOOTER */
footer{
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
    font-size: 0.8em;
    padding: 0.5em 0;
    /*FOOTER REMAIN THE SAME ON THEME SWITCH*/
    color: var(--very-light-gray);
    background-color: var(--very-dark-blue);
}
footer a{
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    padding: 0.5em 0.4em;
    cursor: pointer;
    border-radius: 0.5em;
    transition: 300ms font-size ease-in-out;
}
footer a:hover{
    color: var(--orange);
}
/**************************************************
********************************** MEDIA QUERIES */
@media screen and (min-width: 31rem) {
    main{
        max-width: 22rem;
        padding: 10% 0;
    }
}
@media screen and (min-width: 50rem) {
    main{
        max-width: 80vw;
        margin: 0 auto;
        padding: 0;
        grid-template-rows: 36% auto;
        gap: 2em;
    }
    article{
        align-self: flex-end;
        grid-column-start: 1;
        grid-column-end:4;
    }
    .fs-paragraph{
        padding: 1.5em 0;
        font-size: 1em;
    }
    article p{
        max-width: 56ch;
        margin: 0 auto;
    }
    h1{
        font-size: 1.8em;
    }
    section{
        min-width: 12rem;
        min-height: 14rem;
        grid-row: 2;
        align-self: center;
    }
    #section-3{
        grid-column-start: 2;
        grid-row-start: 3;
    }
    #section-1,#section-4{
        grid-row-start: 2;
        grid-row-end: 4;
    }
    footer{
        position: absolute
    };
}
@media screen and (min-width: 90rem) {
    main{
        max-width: 69.37rem;
    }
    h1{
        font-size: 2.1em;
    }
    section{
        max-width: 21.87rem;
        max-height: 15.68rem;
        font-size: 1.2em;
    }
    h2{
        padding-bottom: 0.5em;
    }
}
