@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
    /*COLORS*/
    --soft-blue: rgb(139, 172, 218);
    --cyan: rgb(0, 255, 247);
    --very-dark-blue-bg: rgb(13, 25, 43);
    --very-dark-blue-card: rgb(20, 37, 61);
    --very-dark-blue-line: rgb(47, 65, 91);
    --white: rgb(255, 255, 255);
    /*FONT SIZE*/
    --paragraph-fs: 1.125em; /*like 18px*/
    /*FONT FAMILY*/
    --outfit: 'Outfit', sans-serif;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html, body{    height:100vh;   }
body{
    width: 100vw;
    background-color: var(--very-dark-blue-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    color: var(--white);
}
footer a{
    text-decoration: none;
    padding: 0.1em 0.4em;
    color: var(--cyan);
}