/* Original layout color palette */
:root {
  --darker_greyish_blue: hsl(215, 20%, 20%);
  --darker_blue: hsl(217, 19%, 25%);
  --very_dark_grayish_blue: hsl(217, 19%, 35%);
  --desaturated_dark_blue: hsl(214, 17%, 51%);
  --grayish_blue: hsl(212, 23%, 69%);
  --light_grayish_blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(27, 56%, 68%);
  --text: var(--very_dark_grayish_blue);
  --lighter_text: var(--desaturated_dark_blue);
  --background: var(--light_grayish_blue);
  --card_background: var(--white);
  --share_area_bg: var(--very_dark_grayish_blue);
  --share_area_text: var(--grayish_blue);
  --icon_bg: var(--light_grayish_blue);
  --icon_bg_hovered: var(--orange);
  --sun: url("../images/sun.svg");
  --moon: url("../images/moon.svg");
}

.invert_icon {
  content: url(../images/icon-share-light.svg);
}

.invert_bg {
  --icon_bg: var(--desaturated_dark_blue);
}

.light {
  --text: var(--very_dark_grayish_blue);
  --lighter_text: var(--desaturated_dark_blue);
  --background: var(--light_grayish_blue);
  --card_background: var(--white);
  --share_area_bg: var(--very_dark_grayish_blue);
  --share_area_text: var(--grayish_blue);
  --icon_bg: var(--light_grayish_blue);
  --image_brightness: 100%;
  --icon: var(--moon);
}

.dark {
  --text: var(--orange);
  --lighter_text: var(--white);
  --background: var(--darker_greyish_blue);
  --card_background: var(--darker_blue);
  --share_area_bg: var(--desaturated_dark_blue);
  --share_area_text: var(--white);
  --icon_bg: var(--darker_greyish_blue);
  --image_brightness: 80%;
  --filter_dark: invert(53%) sepia(13%) saturate(694%) hue-rotate(174deg) brightness(97%) contrast(90%);
  --icon: var(--sun);
}

/*larger screens animations*/
.add_anim_on_bigger_screen {
  -webkit-animation-name: show_options;
          animation-name: show_options;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.remove_anim_on_bigger_screen {
  -webkit-animation-name: hide_options;
          animation-name: hide_options;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes show_options {
  0% {
    transform: scale(0);
    bottom: 20px;
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes show_options {
  0% {
    transform: scale(0);
    bottom: 20px;
  }
  100% {
    transform: scale(100%);
  }
}
@-webkit-keyframes hide_options {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0);
    bottom: 30px;
  }
}
@keyframes hide_options {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0);
    bottom: 30px;
  }
}
/*Smaller screen animations*/
.add_anim {
  -webkit-animation-name: move_up;
          animation-name: move_up;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.remove_anim {
  -webkit-animation-name: move_down;
          animation-name: move_down;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes move_up {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move_up {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes move_down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes move_down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(100px);
  }
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 0.81rem; /*13px*/
  background-color: var(--background);
  color: var(--text);
  transition: 500ms color ease-in-out, 500ms background-color ease-in-out;
}
body > .switch_theme {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  margin-inline: auto;
  left: 0;
  right: 0;
  top: calc(1em + 2vh);
  content: var(--icon);
  cursor: pointer;
  transition: 300ms transform ease-out;
}
body > .switch_theme:hover {
  transform: scale(110%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

footer {
  width: 100%;
  color: var(--lighter_text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1em;
  letter-spacing: 0.2ch;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: var(--lighter_text);
  padding-inline: 0.5ch;
}

a:hover {
  color: var(--orange);
}

.card {
  width: min(20.56rem, 90%);
  display: grid;
  place-content: center;
  position: relative;
  grid-template-columns: 1fr;
  z-index: 2;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  margin-block: 5rem;
  border-radius: 1rem;
  background-color: var(--card_background);
  box-shadow: 3px 6px 6px hsla(0deg, 0%, 0%, 0.3);
}
@media screen and (min-width: 56.25em) {
  .card {
    grid-template-columns: 38% 62%;
    padding: 0;
    margin: 0 auto;
    width: min(46.63rem, 90%);
    height: 17.5rem;
    overflow: visible;
  }
}
.card__image {
  width: 100%;
  height: 12.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 20%;
     object-position: 0% 20%;
  filter: brightness(var(--image_brightness));
}
@media screen and (min-width: 56.25em) {
  .card__image {
    height: 17.5rem;
    border-radius: 1rem 0 0 1rem;
  }
}
.card__article {
  width: 80%;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.7em;
  margin-inline: auto;
}
@media screen and (min-width: 56.25em) {
  .card__article {
    width: 100%;
    height: 100%;
    padding: 2.5em 3em;
    gap: 0.9em;
  }
}
.card__title {
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.5;
  padding-top: 1.25em;
}
@media screen and (min-width: 56.25em) {
  .card__title {
    padding-top: 0;
    font-size: 1.6em;
    line-height: 1.4;
  }
}
.card__paragraph {
  font-weight: 500;
  line-height: 1.7;
  font-size: 0.83rem;
  color: var(--lighter_text);
}
@media screen and (min-width: 56.25em) {
  .card__paragraph {
    line-height: 1.5;
  }
}
.card__section {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  padding-block: 1em 0;
  grid-template-columns: 0.3fr 1.5fr 0.3fr 0.3fr;
}
@media screen and (min-width: 56.25em) {
  .card__section {
    padding-block: 0.5em 0;
    grid-template-columns: 0.3fr 1.8fr 1.2fr 0.3fr;
  }
}
.card__profile_pic {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
}
.card__profile_name {
  font-size: 0.8rem;
}
@media screen and (min-width: 56.25em) {
  .card__profile_name {
    font-size: 0.9rem;
  }
}
.card__date {
  font-weight: 500;
  color: var(--lighter_text);
}
@media screen and (min-width: 56.25em) {
  .card__date {
    font-size: 0.85rem;
  }
}
.card__share {
  grid-column: 4;
  box-sizing: content-box;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.75em;
  height: 2.75em;
  z-index: 3;
  border-radius: 50%;
  background-color: var(--icon_bg);
  transition: 300ms background-color ease-out;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.card__share:hover {
  background-color: var(--icon_bg_hovered);
}
.card__share_options {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: min(1rem + 4vw, 1.2rem);
  padding-block: 2.2em;
  padding-inline: 2.5em;
  bottom: 0;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--share_area_bg);
  transform: translateY(100px);
}
.card__share_options > img {
  cursor: pointer;
  transition: 300ms transform ease-in-out;
}
.card__share_options > img:hover {
  transform: scale(130%);
}
.card__share_options_big_screen {
  position: absolute;
  z-index: 5;
  display: flex;
  padding: 1.25rem 2.25rem;
  gap: 1.25rem;
  border-radius: 1rem;
  right: -76.5px;
  bottom: 95px;
  transform: scale(0);
  background-color: var(--share_area_bg);
  box-shadow: 2px 4px 4px hsla(0deg, 0%, 0%, 0.3);
}
.card__share_options_big_screen > img {
  cursor: pointer;
  transition: 300ms transform ease-in-out;
}
.card__share_options_big_screen > img:hover {
  transform: scale(130%);
}
.card__share_options_big_screen::after {
  content: url("../images/message-arrow.svg");
  position: absolute;
  width: 2rem;
  height: auto;
  bottom: -1.7rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 999;
  filter: var(--filter_dark);
}
.card__share_text {
  color: var(--share_area_text);
  letter-spacing: min(0.5ch, 0.5vw);
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */