/* Original layout color palette */
:root {
  --bright_orange: hsl(31, 77%, 52%);
  --dark_cyan: hsl(184, 100%, 22%);
  --very_dark_cyan: hsl(179, 100%, 13%);
  --transparent_white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
  --very_light_gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */
  --dark-gray:hsl(0, 0%, 15% );
  --transparent-dark-gray:rgba(87, 87, 87, 0.5);
  --title:var(--very_light_gray);
}

.light {
  --background: var(--very_light_gray);
  --opposite: var(--dark-gray);
  --text: var(--dark-gray);
  --article1: var(--bright_orange);
  --article2: var(--dark_cyan);
  --article3: var(--very_dark_cyan);
  --button1: var(--very_light_gray);
  --button2: var(--very_light_gray);
  --button3: var(--very_light_gray);
  --button1_text: var(--bright_orange);
  --button2_text: var(--dark_cyan);
  --button3_text: var(--very_dark_cyan);
}

.dark {
  --background: var(--dark-gray);
  --opposite: var(--very_light_gray);
  --text:var(--very_light_gray);
  --article1: hsla(31, 77%, 52%, 0.3);
  --article2: hsla(184, 100%, 22%, 0.3);
  --article3: hsla(179, 100%, 13%, 0.3);
  --button1: var(--bright_orange);
  --button2: var(--dark_cyan);
  --button3: var(--very_dark_cyan);
}

.anim_article1 {
  -webkit-animation: slideInLeft;
          animation: slideInLeft;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.anim_article2 {
  -webkit-animation: slideInRight;
          animation: slideInRight;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media screen and (min-width: 48em) {
  .anim_article2 {
    -webkit-animation: slideInDown;
            animation: slideInDown;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.anim_article3 {
  -webkit-animation: slideInLeft;
          animation: slideInLeft;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media screen and (min-width: 48em) {
  .anim_article3 {
    -webkit-animation: slideInRight;
            animation: slideInRight;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 0.9375rem; /*15px*/
  background-color: var(--background);
  transition: 500ms color ease-in-out, 500ms background-color ease-in-out;
}

*, *::after, *::before {
  box-sizing: inherit;
}

button {
  border: 2px solid var(--very_light_gray);
  padding: 0.75em 1.5em;
  border-radius: 25px;
  background-color: var(--very_light_gray);
  font-size: 1rem;
  transition: 300ms background-color ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: transparent !important;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 2vh;
  right: 5vw;
  outline: 3px solid var(--opposite);
  border: 2px solid transparent;
  background-color: transparent;
  transition: 200ms transform ease-out;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 48em) {
  input[type=checkbox] {
    top: 3vh;
    right: 0;
    left: 0;
    margin-inline: auto;
  }
}

input[type=checkbox]::after {
  content: "";
  background-color: var(--opposite);
  width: 50%;
  height: 3rem;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: 300ms transform ease-out;
}

input[type=checkbox]:checked::after {
  transform: translate(100%);
}

footer {
  width: 100%;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1em;
  letter-spacing: 0.2ch;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
  font-family: "Big Shoulders Display", cursive;
}

p, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
  color: var(--text);
  padding-inline: 0.5ch;
}

a:hover {
  color: var(--bright_orange);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 2.2rem;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparent_white);
  line-height: 1.5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5.3em 0;
}
@media screen and (min-width: 48em) {
  main {
    flex-direction: row;
  }
}

#article1 {
  background-color: var(--article1);
  border-radius: 8px 8px 0 0;
  color: var(--title);
}
#article1 > button {
  color: var(--button1_text);
  background-color: var(--button1);
  border-color: var(--button1);
}
#article1 > button:hover {
  color: var(--very_light_gray);
}
@media screen and (min-width: 48em) {
  #article1 {
    border-radius: 8px 0 0 8px;
  }
}

#article2 {
  background-color: var(--article2);
  color: var(--title);
}
#article2 > button {
  color: var(--button2_text);
  background-color: var(--button2);
  border-color: var(--button2);
}
#article2 > button:hover {
  color: var(--very_light_gray);
}

#article3 {
  background-color: var(--article3);
  border-radius: 0 0 8px 8px;
  color: var(--title);
}
#article3 > button {
  color: var(--button3_text);
  background-color: var(--button3);
  border-color: var(--button3);
}
#article3 > button:hover {
  color: var(--very_light_gray);
}
@media screen and (min-width: 48em) {
  #article3 {
    border-radius: 0 8px 8px 0;
  }
}

article {
  width: min(20.3em, 90%);
  height: 27em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1em 2.3em;
}
@media screen and (min-width: 48em) {
  article {
    width: min(19.16em, 30%);
    height: 28.75em;
  }
}/*# sourceMappingURL=style.css.map */